{% extends 'base.html' %}

{% block content %}

<section class="inner-page" id="contact-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>ورود به ناحیه کاربری</h1>
                            <p>وارد ناحیه کاربری خود در روبیک مارکت شوید.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-2 py-md-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-5 text-center">
                            <img src="/static/assets/images/login.png" alt="">
                        </div>
                        <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                            <div class="title">وارد شوید</div>
                            <p>کد پیامک شده را تایید کنید</p>
                            <form method="post">
                                <div class="form-group">
                                    <label for="password">تایید رمز</label>
                                    <input type="password" class="form-control" id="vertifycode" name="vertifycode">
                                </div>
                                <div class="form-group">
                                    <a href="profile/personal-info.html"><input type="submit" value="تایید کد" class="btn btn-success"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}




















