{% extends 'base.html' %}
{% block content %}


<section class="inner-page" id="blog-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>بلاگ</h1>
                            <p>بلاگ آموزشی روبیک مارکت</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            <div class="row">
                                <div class="col-12">
                                    <div class="blog-container">
                                        <div class="row py-2 px-3">
                                            <div class="col"><h1 class="title">مرکز آموزش روبیک مارکت</h1></div>
                                        </div>
                                        <div class="row py-2 px-3">
                                            <div class="col"><h1 class="title">به زودی</h1></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}